@media screen, print {
	body { color:#000000; font:11px/1.55em Verdana,Arial,Helvetica,sans-serif; margin:0; padding:0;}
	
	table {border-collapse:collapse;}
	td,tr { color:#000000; font:11px/1.55em Verdana,Arial,Helvetica,sans-serif;}
	
	a:link, a:active, a:visited, a:hover { color:blue; text-decoration:none; }
	a:hover { color:#132659 !important; text-decoration:none; }
	a img { border:0;}
	
	/* Heading */
	h1, h2, h3, h4, h5, h6, .head { margin-bottom:.4em; line-height:1.3em; margin-top:.2em; font-family:Arial, Helvetica, sans-serif;}
	h1 { font-size:1.5em; line-height:1.17; color:#344867; }
	h2 { font-size:1.2em; color:#3399CC;}
	h3 { font-size:1.15em; }
	h4 { font-size:1.05em; }
	h5 { font-size:1.05em; }
	h6 { font-size:.95em; }
	
	p { margin-bottom:.8em; }
	
	form { display:inline;}
	label {font-weight: bold; }
	
	* html input {height: 24px;}
	* html input.button, * html button.button {height: 35px; }
	input {color: #000000; font-size: 12px; padding: 3px; }
	input.button, button.button {padding: 4px;}
	
	.hover {
		cursor: pointer;
	}
	.busy { 
		display:none; position:absolute; top: 3px; left:40%; 
		color: black; letter-spacing: 1px; font-weight:bold;
		background: yellow; padding: 2px 10px 2px 10px; 
		z-index: 99999;
	}
	.loading {
		position:absolute; top: 10px; left:40%; 
		color: black; letter-spacing: 1px; font-weight:bold;
		background: yellow; padding: 2px 10px 2px 10px; 
		z-index: 99999; font-size: 16px;
	}
	.required {
		font-weight: bold;
		color: red;	
	}
	.hidden {
		display: none;	
	}
	.inline {
		display:inline; 
	}
}